html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1,
p {
  font-family: HelveticaNeue-Thin, Helvetica, Arial;
  font-weight: bold;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

#top-banner {
  height: 100vh;
}

#about-me>div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  align-items: center;
  text-align: center;
}

#my-face {
  width: 220px;
  height: 200px;
  border-radius: 50%;
}

#project {
  background-color: #E5E4E2;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* additional */
  gap: 30px;
  flex-wrap: wrap;
}

.card-container {
  width: 500px;
  height: 350px;
}

.card-container:hover>.flip-card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flip-card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
}

.front {
  background-size: cover;
  background-position: center;
}

.back {
  background-color: #222831;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: lighter;
}

#portfolio {
  background-image: url(images/portfolio.jpg);
}

#to-do-list-app {
  background-image: url(images/to-do-list-app.png);
}

#keeper-app {
  background-image: url(images/keeper-app.png);
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  width: 4px;
  margin-left: -1.5px;
  content: "";
  background-color: #C5C6D0;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 180px;
  text-align: left;
  min-height: 200px;
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: "";
}

.timeline>li:after {
  clear: both;
}

.timeline-img {
  position: absolute;
  z-index: 100;
  width: 160px;
  height: 160px;
  left: 0;
  margin-left: 0;
  border: 7px solid #C5C6D0;
  border-radius: 100%;
}

.round-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* iPhone X || 375 x 812 || Default */
@media only screen and (max-width: 812px) {
  .grid-container {
    display: table;
  }


  .timeline:before {
    left: 40px;
    width: 2px;
  }

  .timeline>li .timeline-panel {
    padding-left: 100px;
    padding: 100px 20px 0 0;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
  }

  .timeline-img {
    width: 80px;
    height: 80px;
  }
}